.form-select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 11'%3e%3cpath fill='white' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") !important;
}

    .form-select option {
        background-color: #333E52 !important;
    }

.form-control, .form-select {
    background-color: rgba(32, 39, 53, 0.2) !important;
    border: 1px solid #aaa !important;
    color: #fff;
}

    .form-control:focus, .form-select:focus, .accordion-button:focus {
        color: #fff;
        background-color: #333E52 !important;
        box-shadow: 0 0 0 .1rem rgba(255,255,255,.65);
    }


    .form-control:hover, .form-select:hover, .accordion-button:hover {
        background-color: #333E52 !important;
    }

        .form-control:hover ~ .input-group-text, .form-control:focus ~ .input-group-text {
            background-color: #333E52 !important;
        }

.form-control-suffix {
    border-right: none !important;
}

.label-sm {
    font-size: 0.875rem;
}

.suffix-wrapper {
    display: block;
    position: relative;
    width: 100%;
}

.suffix {
    position: absolute;
    left: 0;
    top: 0.3rem;
    color: #ccc;
    padding-left: 5px;
    user-select: none;
}

.hidden {
    display: none;
}

.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.nav-link {
    color: #fff !important;
}

    .nav-link.active {
        background-color: #8D31B0 !important;
        border-color: #8D31B0 !important;
        border-bottom-color: #fff !important;
        font-weight: bold;
    }

        .nav-link.active:hover {
            background-color: #8D31B0 !important;
        }

    .nav-link:hover {
        background-color: #8D31B0A6 !important;
        border-color: #8D31B0A6 !important;
        border-bottom-color: #fff !important;
    }

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.nav {
    flex-wrap: nowrap !important;
    /* overflow-y: scroll !important;
    overflow-y: scroll; */
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

    .nav::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

hr {
    margin-top: 0 !important;
    opacity: 0.5 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.input-group-text {
    background-color: rgba(32, 39, 53, 0.2) !important;
    border: 1px solid #aaa !important;
    border-left: none !important;
    color: #ddd !important;
    user-select: none;
}

.expand-icon {
    width: 3em;
    transition-duration: 350ms;
}

    .expand-icon:hover, .expand-icon:active, .expand-icon:focus {
        opacity: 1 !important;
        transition-duration: 350ms;
    }

.accordion-button {
    background-color: rgba(32, 39, 53, 0.2) !important;
    color: #fff !important;
    padding: .5rem !important;
    font-size: 0.875rem !important;
    /*border: 1px solid #aaa !important;*/
}

    .accordion-button::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='white' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") !important;
    }


.accordion-item {
    border: 1px solid #aaa !important;
    background-color: transparent !important;
}

.flag-switch-row {
    width: 33.33%;
}

@media only screen and (max-width: 992px) {
    .flag-switch-row {
        width: 50%;
    }
}

.form-check-input:not(:checked) {
    background-color: #333E52 !important;
    border: 1px solid #aaa;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e")
}

.accordion-body {
    padding: 1rem 0.5rem;
}

/*input:disabled, input:disabled ~ label, select:disabled, select:disabled ~ label, input[type=checkbox]:disabled {
    cursor: not-allowed !important;
}*/